<h2>Pendleton Paper -- Beats</h2>

<div ng-show="beats.length">
  <div class="row well">
    <h4>Search</h4>
    <form class="form-inline" role="form">
      <div class="form-group">
        <input ng-model="query.name" type="text" class="form-control" placeholder="Search by Beat Name">
      </div>
    </form>
  </div>
  <div class="row">
    <h4 ng-show="beats.length && filtered.length">Current Beats:</h4>
    <h4 ng-show="beats.length && !filtered.length">No matches found.</h4>
      <ul>
        <li ng-repeat="item in filtered = beats | filter:query">
          <a ui-sref="newReporter({ beatId: item.id })"> {{ item.name }} </a>
            <ul ng-show="item.reporters.length">
              <li ng-repeat="reporter in item.reporters">
                <a ng-click="details = true">{{ reporter.name }}</a>
                  <span ng-show="details" ng-click="details = false"><p>Birthdate: {{ reporter.birthdate | date: "yyyy-MM-dd" }}
                    | Years Employed: {{ reporter.yearsEmployed }} <span class="info">Click to hide</span></span>
                  </p>
              </li>
            </ul>
        </li>
      </ul>
    </div>
</div>

<div ui-view> </div>

<div class="row">
  <h4>Add a new beat:</h4>
  <form ng-submit="BeatsFactory.addBeat()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="BeatsFactory.beatName" class="form-control" placeholder="Enter beat name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
