<h2>Pendleton Paper -- Beats</h2>

<div ng-show="beats.length">
  <h4>Current Beats:</h4>
    <ul>
      <li ng-repeat="item in beats">
         {{ item.name }} 
          <div ui-view> </div>
      </li>
    </ul>
</div>

<div class="col-md-6">
  <h4>Add a new beat:</h4>
  <form ng-submit="BeatsFactory.addBeat()" class="form-inline" role="form">
    <div class="form-group">
      <input type="text" ng-model="BeatsFactory.beatName" class="form-control" placeholder="Enter beat name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
